#login {

    width: 100%;
    /* height: 500px; */
    /* border: 1px solid#d4d4d9; */
  
   background-color: rgb(255, 240, 243);
   padding-top: 3%;
   padding-bottom: 5%;


}

#login>div {
    width: 30%;
    /* height: 500px; */
    border: 1px solid #d4d4d9;
    margin: auto;
    margin-top: 70px;
    background-color: white;
    padding-bottom: 3%; 
}

 #login>div>div:nth-child(1) {
    height: 150px; 
     border: 1px solid #d4d4d9; 
}  
#login>div>form:nth-child(2){
    align-items: center;
}

#login>div>form:nth-child(2)>div{
    width: 85%;
    margin: auto;
    border: 1px solid #d4d4d9;
    /* height: 500px; */
    margin-top: 20px;
    
   
}

#login>div>form:nth-child(2)>p:nth-child(1){
     margin-left: 25PX;
     margin-top: 10PX;
      font-size: large;
      /* color: #FF3F6C; */
}

.tagline{
      text-align: center;
      font-size:12px;
      margin-top: 20PX;
}

.tagline>b{
    color:#FF3F6C;
    font-weight: bold;
}

.input {
    height: 30px;
    width: 100%;
    border: 1px solid #d4d4d9;
}
.input>input{
    width:100%;
    height:100%;
    padding: 3%;
    border: NONE;
   outline: none;

}

#login>div>form:nth-child(2)>input:last-child{
    width: 85%;
    height: 40PX;
    /* margin-left: 20PX; */
    margin-top: 20PX;
    color:white;
    background-color:#FF3F6C;
    border: none;
    margin-bottom: 20PX;
}